<p id="notice"><%= notice %></p>

<p>
  <strong>Suffix:</strong>
  <%= @profile.suffix %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Body:</strong>
  <%= @profile.body %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @profile.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @profile.instagram %>
</p>

<p>
  <strong>Line:</strong>
  <%= @profile.line %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @profile.whatsapp %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @profile.roles %>
</p>

<p>
  <strong>Nick name:</strong>
  <%= @profile.nick_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @profile.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
