
<div class="row mb-5">   
   <div class="col-sm-12 col-md-5 col-lg-5 mb-5">     
   <% if blog.image == nil %>
   <div style="width: 400px; height: 200px">
        <div class="card">
            no image present
            https://place-hold.it/350x200
        </div>
    </div>
  <%else%>
   <div style="width: 400px; height: 200px">
        <div class="card">
           <%= image_tag(blog.image, style:'width:100%; height:auto') unless blog.image.nil? %>   
        </div>
    </div>
  <% end %>
  </div>
  <div class="col-sm-12 col-md-7 col-lg-7">
      <p>
         <h2 class="text-muted"><%= link_to blog.title, blog %></h2>
        
         
         <span class="lead text-muted">  <%= blog.subtitle %></span> 
          <br>
          <% if blog.body.length > 250 %>
              <%= truncate(blog.body, length: 250) %>
              <br>
               <%= link_to 'Read More...', blog %>
          <% else %>
          <%= blog.body %>
          <% end %>
      </p>
      <p class="text-right">
         <small>Posted <%= time_ago_in_words(blog.created_at) %> ago  </small>
          <% if blog.user == nil %>
          @anonymous
          <% else %>
          <small>by @<%= blog.user.username %></small>
          <% end %>
         </p>
      <p>
      <div class="mt-3 mb-3">
      <% if user_signed_in? && current_user == blog.user  %>
       
        <%= link_to 'Edit', edit_blog_path(blog) , class: "btn btn-secondary"%>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-secondary"%>
      <% end %>
      </div>
      </p>  
  </div>     
</div>
     
