<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @contact.province %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @contact.postcode %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @contact.tel %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @contact.instagram %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @contact.whatsapp %>
</p>

<p>
  <strong>Line:</strong>
  <%= @contact.line %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contact.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact.user_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
