 <div class="row featurette">
                <div class="col-md-5 order-md-1">
                         <%# <%= image_tag "logo-400x400.png",  class: "img-fluid" %> 
                </div>

                <% if welcome %>
                <div class="col-md-7 order-md-2 text-center">
                        <h2 class="featurette-heading"><%= welcome.title %></h2> 
                        <h3><span class="text-muted"><%= welcome.subtitle %></span></h3>
                        <p class="lead"> <%= welcome.body %></p>
                        
                        <p>
                        <% if user_signed_in? && current_user %>
                                <%= link_to 'Edit', edit_welcome_path(welcome), class: "btn btn-secondary" %>  
                                <%= link_to 'Destroy', welcome, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary"  %> 
                        <% end %>
                        </p> 
                </div>
                <% else %>
                    no data!
                <% end %>
              
        </div>
        <%# <hr class="featurette-divider"> %>
        <div class="row">     
                <%= render "partials/why" %> 
        </div> 

        <%# <div class="container">
                <%= render "partials/application_subpage" %>
        <%# </div>  %>


        <%# <hr class="featurette-divider"> %>
        <%# <h2 class="featurette-heading text-center">Where to find us</h2> %>
        <%= render "partials/maps" %>
        


