

<p>
  <strong>Title:</strong>
  <%= @welcome.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @welcome.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @welcome.body %>
</p>

<p>
  <strong>Subbody:</strong>
  <%= @welcome.subbody %>
</p>

<p>
  <strong>Status:</strong>
  <%= @welcome.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @welcome.user_id %>
</p>

<%= link_to 'Edit', edit_welcome_path(@welcome) %> |
<%= link_to 'Back', welcomes_path %>
